body{
  margin: 0;
  padding: 0;
  background-color: bisque;
}

.App {
  text-align: center;
  font-size: 2rem;
}

.game{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2rem;
}

.cell-container{
  background-color: pink;
  width: 50vw;
}

.grid-size-9{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
}

.grid-size-12{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.4rem;
}

.cell{
  padding: 1rem;
  background-color: blueviolet;
}

.active-cell{
  background-color: aquamarine;
}

.button{
  padding: 1.5rem;
  background-color: blueviolet;
  color: aliceblue;
  cursor: pointer;
}

.button :active{
  background-color: blue;
}